<app-header></app-header>
<body style="background: #5C6FD5">
  <div id="blockHaut" class="container-fluid" style="background: #5C6FD5"></div>
  <div id="triangle" class="container-fluid"></div>
  <div id="blockBas" class="container-fluid" style="background: #21327d"></div>
</body>

